---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Portfolio">

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Graduate Programming"
      subtitle="2021 to 2023 at Thomasmore, Geel, Belgium"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Order picker at Brabantia"
      subtitle="From 10-2019 to 09-2021 at Brabantia, Pelt, Belgium"
      desc="I started out with just the order picking but just before I left Brabantia was going to change their warehouse system. I was asked if i wanted to help with the early problems this change would bring and so I agreed. My job then was looking after the orders in the system and making sure everything would go as planned fixing issues before they became a problem to the people working on the orders."
    />
    <TimeLineElement
      title="Internship at Wilms"
      subtitle="From 02/2023 to 06/2023 at Wilms, Meerhout, Belgium"
      desc="During my Graduate I had to do an Internship, I chose Wilms because they had an open vacature for a full stack developer at the moment. The vacature asked for programming languages that i learned in school but wasn't very good at so I figured that I could learn alot from the people working here. After the internship i can say I learned alot so I am thankfull for everything they did to help me. "
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Angular</li>
    <li>C Sharp</li>
    <li>Javascript</li>
    <li>CSS</li>
    <li>SQL Server</li>
    <li>React</li>
  </ul>
</BaseLayout>
