---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-5xl font-bold">I'm Ruben Van Gestel</div>
      <div class="text-3xl py-3 font-bold">Programming Student</div>
      <div class="py-2">
        <text class="text-lg">
        Currently I am still a student at Thomasmore but hopefully soon I will be looking for a job. I finished an Internship where I used Angular and Dotnet Core to create a webapp for Wilms, you can find more info about this on the Internship page. I want to explore the different things you can do with the different programming languages so realy I am open for anything! 
        </text>
      </div>
      <div class="mt-8">
        <a class="btn" href="https://www.linkedin.com/in/ruben-van-gestel-a47630247/" target="_blank"> Let's connect on Linkedin!</a>
        <a href="https://github.com/RubenVanGestel" target="_blank" class="btn btn-outline ml-5"> My projects on github</a>
      </div>
    </div>

 
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>
  
    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="Graduate Programming"
        subtitle="2021 to 2023 at Thomasmore, Geel, Belgium"
      />
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>
  
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Order picker at Brabantia"
        subtitle="From 10-2019 to 09-2021 at Brabantia, Pelt, Belgium"
        desc="I started out with just the order picking but just before I left Brabantia was going to change their warehouse system. I was asked if i wanted to help with the early problems this change would bring and so I agreed. My job then was looking after the orders in the system and making sure everything would go as planned fixing issues before they became a problem to the people working on the orders."
      />
      <TimeLineElement
        title="Internship at Wilms"
        subtitle="From 02/2023 to 06/2023 at Wilms, Meerhout, Belgium"
        desc="During my Graduate I had to do an Internship, I chose Wilms because they had an open vacature for a full stack developer at the moment. The vacature asked for programming languages that i learned in school but wasn't very good at so I figured that I could learn alot from the people working here. After the internship i can say I learned alot so I am thankfull for everything they did to help me grow as a developer. "
      />
    </div>
  
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-3 columns-2 mx-6 mb-5">
      <li>HTML</li>
      <li>CSS</li>
      <li>Javascript</li>
      <li>C#</li>
      <li>Angular</li>
      <li>SQL Server</li>
      <li>XML</li>
      <li>Entity Framework</li>
      <li>ASP.Net</li>
      <li>GIT</li>
    </ul>


    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Additional competencies</div>
    </div>

    <ul class="list-discmx-6">
      <li>Drivers Licence B</li>
      <li>Dutch: Native Language</li>
      <li>English: Good</li>

    </ul>
    
</BaseLayout>